<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Password Reset </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--email-->
  <ion-item>
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <!--end email-->

  <p class="go-to-register">
    <ion-button expand="block" color="danger" type="submit" (click)="recover()"
      >RESET NOW</ion-button
    >
  </p>
</ion-content>
